.container {
  position: relative;
}

.header {
  width: inherit;
  display: flex;
  padding: 0.5rem 2rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 75%;
  max-width: 80vw;
  z-index: 1000;

  .searchBar {
    display: flex;
    height: 2.25rem;
    align-items: center;
    background: white;
    color: gray;
    width: 350px;
    border-radius: 1000px;
    padding: 1.3rem 0;
    padding-left: 1rem;

    &__icon {
      margin-right: 0.75rem;
      font-size: 1.25rem;
    }

    &__input {
      border: none;
      font-size: 0.85rem;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .userMenu {
    &__avatar {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: gray;
      cursor: pointer;
      transition: 0.1s ease all;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
