.header {
  width: inherit;

  position: sticky;
  top: 0;
  width: 100%;
  max-width: 80vw;
  z-index: 1000;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 0.5rem 2rem 0.5rem;
  }

  .userMenu {
    &__avatar {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: gray;
      cursor: pointer;
      transition: 0.1s ease all;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
