@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.card {
  background: #181818;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Proxima Nova", sans-serif;
  margin: auto;
  margin-top: 1rem;
  overflow: hidden;
  padding: 1.25rem;
  transition: 0.25s all ease;
  width: 100%;

  @include tablet {
    margin: 0;
    width: 60%;
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-bottom: 3rem;
    width: 100%;
  }

  &:hover {
    background: #333;

    .button {
      bottom: -0.5rem;
      opacity: 1;
    }
  }

  .img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    width: 120px;

    &__artist {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .info {
    margin-left: 0.5rem;
    position: relative;

    .title {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 0.75rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (min-width: 1000px) {
        font-size: 2rem;
      }
    }

    .desc {
      background: #111;
      border-radius: 20px;
      font-size: 0.7rem;
      font-weight: 500;
      letter-spacing: 2.5px;
      padding: 0.25rem 0.75rem;
      text-transform: uppercase;
      width: fit-content;
    }
  }

  .button {
    align-items: center;
    background: #1db954;
    border-radius: 50%;
    bottom: -1.5rem;
    color: white;
    display: flex;
    font-size: 0.85rem;
    height: 40px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: 0.25s all ease;
    width: 40px;

    &:hover {
      background: lightgreen;
      cursor: pointer;
    }

    @media (min-width: 1400px) {
      font-size: 1.5rem;
      height: 60px;
      width: 60px;
    }
  }
}
