.card {
  color: white;
  width: 60%;
  background: #181818;
  padding: 1.25rem;
  transition: 0.25s all ease;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
  font-family: "Proxima Nova", sans-serif;
  cursor: pointer;

  @media (min-width: 1000px) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &:hover {
    background: #333;
  }

  &__img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    width: 120px;
    margin-bottom: 1rem;
  }

  .artist {
    border-radius: 50%;
    overflow: hidden;
  }

  &__info {
    margin-left: 0.5rem;
  }

  &__title {
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.8rem;
    margin-bottom: 0.75rem;

    @media (min-width: 1000px) {
      font-size: 2rem;
    }
  }

  &__desc {
    text-transform: uppercase;
    background: #111;
    font-size: 0.7rem;
    padding: 0.25rem 0.75rem;
    width: fit-content;
    border-radius: 20px;
    letter-spacing: 2.5px;
    font-weight: 500;
  }
}
