@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.banner {
  align-items: center;
  display: flex;
  font-family: "Proxima Nova", sans-serif;
  flex-direction: column;
  justify-content: center;
  min-height: 340px;
  padding-bottom: 1rem;
  padding-top: 6rem;

  @include tablet {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    padding-bottom: 1.5rem;
  }

  @media (min-width: 1000px) {
    padding-left: 2.5rem;
    padding-top: 7rem;
  }

  .cover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 150px;
    justify-content: center;
    width: 150px;

    @include tablet {
      margin-right: 1.5rem;
      min-height: 190px;
      min-width: 190px;
    }

    @media (min-width: 1000px) {
      min-height: clamp(190px, 15vw, 240px);
      min-width: clamp(190px, 15vw, 240px);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    color: #ccc;
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 0 1rem;

    .name {
      color: white;

      h1 {
        display: -webkit-box;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 0.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include tablet {
          margin-bottom: 0;
          padding-right: 2rem;
        }

        @media (min-width: 1000px) {
          align-self: center;
          -webkit-line-clamp: 2;
        }
      }
    }

    .desc {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      font-size: 0.9rem;
      justify-content: center;
      line-height: 1.25rem;
      margin: 0.25rem 0 0.75rem;

      @include tablet {
        justify-content: flex-start;
        margin: 0;
      }

      &__separator {
        background: white;
        border-radius: 50%;
        height: 3px;
        margin: 0.25rem;
        margin-top: 3.25px;
        width: 3px;
      }

      .owner {
        align-items: center;
        color: white;
        display: flex;
        font-weight: 700;

        p {
          display: flex;

          a {
            display: -webkit-box;
            margin-right: 0.25rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
