@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.category {
  color: white;
  font-family: "Proxima Nova", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 2.5rem;

  .banner {
    background: linear-gradient(0deg, #121212 0%, #6e174a 100%);
  }

  .body {
    @media (min-width: 1000px) {
      margin-top: 3rem;
      padding-left: 1.5rem;
    }
  }
}
