.artist {
  color: white;

  .tracks {
    margin-bottom: 3rem;

    &__title {
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-family: "Proxima Nova", sans-serif;
    }

    &__tracklist {
      margin: 0 1rem;
    }

    .seeMore {
      font-family: "Proxima Nova", sans-serif;
      font-size: 0.7rem;
      margin-top: 1rem;
      margin-left: 1.75rem;
      text-transform: uppercase;
      color: #ccc;
      cursor: pointer;
      width: fit-content;

      &:hover {
        color: white;
      }
    }
  }
}
