.wrapper {
  gap: 1rem;
  color: white;
  padding: 0 1rem;
  overflow: hidden;
  max-height: 375px;
  margin-top: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  &__link {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #ccc;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 1.5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 1.5rem;
    row-gap: 100rem; // hide everything that doesn't fit in one row
  }
}
