.playbar {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  position: relative;

  &__button {
    background: #1db954;
    height: 65px;
    width: 65px;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &__follow {
    color: white;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    transition: 0.25s all ease;
    padding: 0.5rem 1rem;
    border: 2px solid #777;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 2px;

    &:hover {
      border-color: white;
      cursor: pointer;
    }
  }

  &__following {
    border-color: white;
  }
}
