@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.song {
  display: flex;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  h2 {
    color: white;
    display: block;
    font-size: 2rem !important;
    font-weight: 900;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.lyrics {
  padding: 5rem 2rem;
  color: #dddddd;
  font-family: "Proxima Nova", sans-serif;
  min-height: 100vh;
  font-weight: 700;

  @include tablet {
    padding: 7rem 2rem 3rem;
  }

  @media (min-width: 1400px) {
    padding: 7rem 4rem 3rem;
  }

  div {
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 80%;

    @include tablet {
      margin-bottom: 3rem;
    }

    @media (min-width: 1200px) {
      margin-bottom: 4rem;
    }

    p {
      font-size: 2rem;

      @include tablet {
        font-size: 2.25rem;
      }

      @media (min-width: 1400px) {
        font-size: 4rem;
      }
    }
  }
}
