.playbar {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.1);

  @media (min-width: 1000px) {
    padding-left: 2.5rem;
  }

  &__button {
    background: #1db954;
    height: 60px;
    width: 60px;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &:hover {
      background: lightgreen;
      cursor: pointer;
    }
  }

  &__heart {
    color: #888;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    transition: 0.25s all ease;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
