@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.playbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  @include tablet {
    padding: 2rem 1rem;
    padding-left: 2.5rem;
    justify-content: flex-start;
  }

  &__button {
    background: #1db954;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.25s all ease;

    @include tablet {
      height: 60px;
      width: 60px;
      font-size: 1.5rem;
    }

    &:hover {
      background: lightgreen;
      cursor: pointer;
    }
  }

  &__heart {
    color: #888;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    transition: 0.25s all ease;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
