@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.wrapper {
  color: white;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0 1rem;

  @include tablet {
    overflow: hidden;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    text-transform: capitalize;

    &__link {
      color: #ccc;
      cursor: pointer;
      font-size: 0.75rem;
      letter-spacing: 1px;
      margin-left: 0.5rem;
      min-width: 60px;
      text-align: right;
      text-transform: uppercase;

      &:hover {
        color: white;
      }
    }
  }

  h2 {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.5rem;
  }

  // one row
  .cards {
    column-gap: 1.5rem;
    display: grid;
    grid-auto-rows: 0;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto;

    @media (min-width: 700px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  }

  // multiple rows
  .multirow {
    grid-auto-rows: auto;
    grid-template-rows: auto;
  }
}
