@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.card {
  background: transparent;
  cursor: pointer;
  font-family: "Proxima Nova", sans-serif;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  transition: 0.25s all ease;

  @include tablet {
    background: #181818;
    border-radius: 5px;
    padding: 1.25rem;
  }

  &:hover {
    @include tablet {
      background: #333;
    }

    .play {
      bottom: 0.25rem;
      opacity: 1;
    }
  }

  &__img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
    position: relative;
    width: 100%;

    @include tablet {
      margin-bottom: 1.5rem;
    }

    .playlist {
      aspect-ratio: 1/1;
      max-height: 220px;
      object-fit: cover;
      width: 100%;
    }
  }

  .artist {
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  .play {
    align-items: center;
    background: #1db954;
    border-radius: 50%;
    bottom: -1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25),
      0px 0px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 30px;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0.25rem;
    transition: 0.25s all ease;
    width: 30px;
    z-index: 1;

    @include tablet {
      height: 40px;
      width: 40px;
    }
  }

  .body {
    color: #ccc;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    text-overflow: ellipsis;

    &__title {
      color: white;
      font-size: 0.85rem;
      font-weight: 700;
      margin-bottom: 0.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include tablet {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    &__desc {
      font-size: 0.7rem;

      @include tablet {
        font-size: 0.8rem;
      }

      a:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
