.card {
  background: #181818;
  padding: 1.25rem;
  transition: 0.25s all ease;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
  font-family: "Proxima Nova", sans-serif;
  cursor: pointer;

  &:hover {
    background: #333;
  }

  &__img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-bottom: 1.5rem;

    .playlist {
      max-height: 220px;
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: cover;
    }
  }

  .artist {
    border-radius: 50%;
    overflow: hidden;
  }

  &__body {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    color: #ccc;
    font-size: 0.8rem;
    text-overflow: ellipsis;

    &__title {
      color: white;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    &__desc {
      a:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
}
