@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.tracklist {
  font-family: "Proxima Nova", sans-serif;

  .header {
    background: transparent;
    border-bottom: 1px solid rgba(82, 82, 82, 0.25);
    color: #ccc;
    display: grid;
    font-size: 0.85rem;
    gap: 4%;
    grid-template-columns: 72% 20%;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    padding: 0.75rem;
    text-transform: uppercase;
    top: 60px;
    z-index: 2;

    &__noAlbum {
      grid-template-columns: 72% 20%;
    }

    &__sticky {
      background: #181818;
      z-index: 3;
    }

    &__hide {
      display: none;
    }

    @include tablet {
      grid-template-columns: 45% 25% 18%;
      padding: 0.75rem 1.5rem;
    }

    @media (min-width: 1000px) {
      padding-left: 2.5rem;
    }
  }

  .title {
    display: flex;

    p {
      margin-right: 1rem;

      @include tablet {
        margin-right: 1.25rem;
      }
    }
  }

  .album {
    display: none;

    @include tablet {
      display: block;
    }
  }

  .duration {
    text-align: end;
  }
}
