@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.track {
  display: grid;
  gap: 4%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  color: #777;
  font-size: 0.75rem;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.1s all ease;
  font-family: "Gilroy-Bold", sans-serif;
  position: relative;
  grid-template-columns: 72% 20%;

  @include tablet {
    padding: 0.75rem 1.5rem;
    grid-template-columns: 45% 25% 18%;
    font-size: 0.85rem;
  }

  @media (min-width: 1000px) {
    padding-left: 2.5rem;
  }

  &__noAlbum {
    grid-template-columns: 72% 20%;
  }

  &:hover {
    background: #333;
    color: white;

    .track__unsavedSong,
    .track__options {
      display: block;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__desc {
    overflow: hidden;

    &__title {
      color: white;
      font-size: 1rem;

      @include tablet {
        font-size: 0.9rem;
        margin-bottom: 0.25rem;
      }

      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &__artists {
      overflow: hidden;

      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        a:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  &__index {
    min-height: 20px;
    min-width: 20px;
    margin-right: 0.75rem;
    font-size: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
    font-weight: 900;

    @include tablet {
      margin-right: 1rem;
    }
  }

  &__soundbars {
    justify-self: flex-start;

    &__bar {
      background: #1db954;
      bottom: 1px;
      position: absolute;
      width: 2px;
      animation: sound 0ms -800ms linear infinite alternate;
    }

    @keyframes sound {
      0% {
        opacity: 0.35;
        height: 3px;
      }
      100% {
        opacity: 1;
        height: 20px;
      }
    }

    &__bar:nth-child(1) {
      left: 1px;
      animation-duration: 474ms;
    }
    &__bar:nth-child(2) {
      left: 4px;
      animation-duration: 350ms;
    }
    &__bar:nth-child(3) {
      left: 7px;
      animation-duration: 450ms;
    }
    &__bar:nth-child(4) {
      left: 10px;
      animation-duration: 375ms;
    }
    &__bar:nth-child(5) {
      left: 13px;
      animation-duration: 550ms;
    }
    &__bar:nth-child(6) {
      left: 16px;
      animation-duration: 600ms;
    }
  }

  &__img {
    min-height: 50px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 1px;
    overflow: hidden;

    @include tablet {
      min-height: 40px;
      min-width: 40px;
      width: 40px;
      height: 40px;
    }
  }

  &__duration {
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 0.85rem;
  }

  &__album {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__album__mobile {
    @include tablet {
      display: none;
    }
  }

  &__album__desktop {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__savedIcon {
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

  &__savedSong {
    color: lightgreen;
  }

  &__unsavedSong {
    display: none;
  }

  // &__options {
  //   font-size: 1.5rem;
  //   position: absolute;
  //   right: 1rem;
  //   height: 100%;
  //   color: white;
  //   display: none;
  //   cursor: pointer;
  // }
}
