.tracklist {
  font-family: "Proxima Nova", sans-serif;

  &__header {
    display: grid;
    grid-template-columns: 45% 25% 18%;
    gap: 4%;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.75rem 1.5rem;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    background: transparent;
  }

  &__noAlbum {
    grid-template-columns: 72% 20%;
  }

  &__sticky {
    top: 50px;
    position: sticky;
    z-index: 100;
    background: #181818;
  }

  &__body {
    padding: 0.5rem 1rem;
  }

  &__title {
    display: flex;

    p {
      margin-right: 1rem;
    }
  }

  &__duration {
    text-align: end;
  }
}
