.likedSongs {
  grid-column: 1 / 3;
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  display: flex;
  padding: 1.5rem;
  border-radius: 6px;

  &__body {
    align-self: flex-end;

    &__title {
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
    }
  }
}
