@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova", sans-serif;
  justify-content: center;
  min-height: 340px;
  padding-top: 6rem;
  padding-bottom: 1rem;

  @include tablet {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    padding-bottom: 1.5rem;
  }

  @media (min-width: 1000px) {
    padding-left: 2.5rem;
    padding-top: 7rem;
  }

  .cover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    height: 150px;
    width: 150px;

    @include tablet {
      margin-right: 1.5rem;
      min-height: 190px;
      min-width: 190px;
    }

    @media (min-width: 1000px) {
      min-height: clamp(190px, 15vw, 240px);
      min-width: clamp(190px, 15vw, 240px);
    }
  }

  .info {
    align-items: center;
    display: flex;
    color: #ccc;
    flex-direction: column;
    font-size: 0.85rem;

    @include tablet {
      align-items: flex-start;
      justify-content: flex-start;
    }

    .title {
      color: white;
      font-family: "Proxima Nova", sans-serif;

      h1 {
        font-size: 3.5rem;
        font-weight: 800;
        margin-top: 0.5rem;
        padding: 0 0.5rem;

        @include tablet {
          font-size: clamp(3rem, 5vw, 7rem);
        }
      }
    }

    .desc {
      align-items: center;
      display: flex;
      font-size: 1.25rem;
      font-weight: 600;

      p {
        @include tablet {
          margin-left: 0.75rem;
        }
      }
    }
  }
}
