.selector {
  display: flex;
  color: white;
  font-size: 0.85rem;
  margin-left: 2rem;

  .selection {
    margin: 0.25rem 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
  }
}

.active {
  background: #333;
}

.collection {
  padding: 5.5rem 1rem 2rem;
  color: white;
  font-family: "Proxima Nova", sans-serif;

  .wrapper {
    &__header {
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
      }
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      column-gap: 1.5rem;
    }
  }
}
