@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.selector {
  display: flex;
  color: white;
  font-size: 0.85rem;

  .selection {
    margin: 0.25rem 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
  }
}

.selector__desktop {
  display: none;

  @include tablet {
    display: block;
    margin-left: 2rem;
  }
}

.selector__mobile {
  width: 100%;
  margin-bottom: 2.5rem;

  @include tablet {
    display: none;
  }
}

.active {
  background: #333;
}

.collection {
  padding: 4.5rem 1rem 2rem;
  color: white;
  font-family: "Proxima Nova", sans-serif;
}
