.selector {
  display: flex;
  color: white;
  font-size: 0.85rem;
  margin-left: 2rem;

  .selection {
    margin: 0.25rem 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
  }
}

.active {
  background: #333;
}

.collection {
  padding: 5.5rem 1rem 2rem;
  color: white;
  font-family: "Proxima Nova", sans-serif;

  .wrapper {
    &__header {
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
      }
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      column-gap: 1.5rem;

      .saved {
        grid-column: 1 / 3;
        background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
        display: flex;
        padding: 1.5rem;
        border-radius: 6px;

        &__body {
          align-self: flex-end;

          &__title {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
