.posters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  grid-template-rows: auto;
  grid-auto-rows: 0;
  max-height: 500px;
  overflow: hidden;
  padding: 0 3rem;

  .poster {
    padding-bottom: 100%;
    transition: 0.25s all ease;
    border-radius: 50px;
    margin-top: 1rem;
    font-family: "Proxima Nova", sans-serif;
    cursor: pointer;
    position: relative;

    &__body {
      display: flex;
      align-items: center;

      &__play {
      }

      &__desc {
      }
    }
  }
}
