@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova", sans-serif;
  justify-content: center;
  min-height: 340px;
  padding: 6rem 0 1.5rem;

  @include tablet {
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 1rem 1.5rem;
  }

  @media (min-width: 1000px) {
    padding-left: 2.5rem;
    padding-top: 7rem;
  }

  .cover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    min-height: 150px;
    min-width: 150px;

    @include tablet {
      margin-bottom: 0rem;
      margin-right: 1.5rem;
      min-height: 190px;
      min-width: 190px;
    }

    @media (min-width: 1000px) {
      min-height: clamp(190px, 15vw, 240px);
      min-width: clamp(190px, 15vw, 240px);
    }
  }

  .info {
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0.5rem;

    @include tablet {
      padding: 0;
    }

    .name {
      color: white;

      h1 {
        display: -webkit-box;
        font-weight: 900;
        line-height: 110%;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @include tablet {
          margin-bottom: 1rem;
          margin-top: 0;
          padding-right: 2rem;
          text-align: left;
        }

        @media (min-width: 1000px) {
          align-self: center;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  .desc {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: "Proxima Nova", sans-serif;
    font-size: 0.9rem;
    justify-content: center;
    line-height: 1.5rem;
    margin-top: 1.25rem;

    @include tablet {
      justify-content: flex-start;
      margin-top: 0;
    }

    > * {
      margin-right: 0.35rem;
    }

    &__separator {
      background: white;
      border-radius: 50%;
      height: 3px;
      margin-left: 3px;
      margin-top: 2px;
      width: 3px;
    }

    .artist {
      align-items: center;
      color: white;
      display: flex;
      font-weight: 900;

      &__img {
        border-radius: 50%;
        height: 25px;
        margin-right: 0.5rem;
        overflow: hidden;
        width: 25px;
      }

      p {
        display: flex;

        a {
          margin-right: 0.25rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
