@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.banner {
  min-height: 340px;
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Proxima Nova", sans-serif;

  @include tablet {
    padding: 1rem 1rem 1.5rem 1rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }

  @media (min-width: 1000px) {
    padding-top: 7rem;
    padding-left: 2.5rem;
  }

  &__separator {
    background: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
  }

  &__cover {
    min-height: 150px;
    min-width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;

    @include tablet {
      min-width: 190px;
      min-height: 190px;
      margin-right: 1.5rem;
      margin-bottom: 0rem;
    }

    @media (min-width: 1000px) {
      min-height: clamp(190px, 15vw, 240px);
      min-width: clamp(190px, 15vw, 240px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ccc;
    padding: 0 0.5rem;

    @include tablet {
      padding: 0;
    }

    &__name {
      color: white;

      h1 {
        font-weight: 900;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 110%;

        @include tablet {
          margin-top: 0;
          padding-right: 2rem;
          text-align: left;
          margin-bottom: 1rem;
        }

        @media (min-width: 1000px) {
          -webkit-line-clamp: 2;
          align-self: center;
        }
      }
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-family: "Proxima Nova", sans-serif;
    flex-wrap: wrap;
    line-height: 1.5rem;
    margin-top: 1.25rem;

    @include tablet {
      justify-content: flex-start;
      margin-top: 0;
    }

    > * {
      margin-right: 0.35rem;
    }

    &__artist {
      display: flex;
      align-items: center;
      color: white;
      font-weight: 900;

      &__image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.5rem;
      }

      p {
        display: flex;

        a {
          margin-right: 0.25rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
