@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.banner {
  min-height: 340px;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova", sans-serif;
  position: relative;
  z-index: 0;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include tablet {
    padding: 1rem 1rem 1.5rem;
    text-align: left;
    align-items: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
  }

  @media (min-width: 1000px) {
    height: 400px;
    padding-left: 2.5rem;
  }

  ::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    top: 0;
    z-index: -5;
  }

  &__cover {
    height: 150px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;

    @include tablet {
      min-height: 190px;
      min-width: 190px;
      margin-right: 1.5rem;
    }

    @media (min-width: 1000px) {
      min-height: clamp(190px, 15vw, 240px);
      min-width: clamp(190px, 15vw, 240px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ccc;
    padding-bottom: 2rem;
  }

  &__name {
    color: white;

    h1 {
      font-weight: 800;
      display: -webkit-box;
      padding: 0 0.5rem;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 110%;

      @include tablet {
        padding-right: 2rem;
      }

      @media (min-width: 1000px) {
        -webkit-line-clamp: 2;
        align-self: center;
      }
    }
  }

  &__desc {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-family: sans-serif;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    @include tablet {
      justify-content: flex-start;

      > * {
        margin-right: 0.35rem;
      }
    }
  }
}
