@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.playbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: relative;

  @include tablet {
    justify-content: flex-start;
    padding: 2rem 1rem;
    padding-left: 2.5rem;
  }

  .button {
    align-items: center;
    background: #1db954;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    transition: 0.25s all ease;
    width: 40px;

    @include tablet {
      font-size: 1.5rem;
      height: 60px;
      width: 60px;
    }

    &:hover {
      background: lightgreen;
      cursor: pointer;
    }
  }

  .heart {
    align-items: center;
    color: #888;
    display: flex;
    font-size: 2.25rem;
    margin-left: 2rem;
    transition: 0.25s all ease;

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
