@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.playbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  position: relative;

  @include tablet {
    padding: 2rem 1rem;
    padding-left: 2.5rem;
    justify-content: flex-start;
    margin: 0;
  }

  .button {
    align-items: center;
    background: #1db954;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    transition: 0.25s all ease;
    width: 40px;

    @include tablet {
      font-size: 1.5rem;
      height: 60px;
      width: 60px;
    }

    &:hover {
      background: lightgreen;
      cursor: pointer;
    }
  }

  .follow {
    align-items: center;
    border: 2px solid #777;
    border-radius: 4px;
    color: white;
    display: flex;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 2.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: 0.25s all ease;

    &:hover {
      border-color: white;
      cursor: pointer;
    }
  }

  &__following {
    border-color: white;
  }
}
