@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.search {
  box-sizing: border-box;
  margin: 0;
  padding-top: 4rem;

  @include tablet {
    padding: 4rem 1rem;
  }

  .body {
    padding: 1.5rem 0;

    .tracks {
      display: grid;
      margin-bottom: 2rem;
      row-gap: 2rem;

      @media (min-width: 1000px) {
        display: flex;
        margin-bottom: 3rem;
      }
    }

    .tracklist {
      flex: 3;

      h2 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;

        @media (min-width: 1000px) {
          margin-left: 0;
        }
      }
    }

    .topResult {
      min-width: 200px;
      padding: 0 1rem;

      @media (min-width: 1000px) {
        flex: 1;
        margin-right: 2rem;
        max-width: 500px;
        overflow: hidden;
        width: 100%;
      }

      h2 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.searchBarDesktop {
  align-items: center;
  background: white;
  border-radius: 20px;
  color: gray;
  display: none;
  height: 2.25rem;
  padding: 1.3rem 0;
  padding-left: 1rem;
  width: 50%;

  @include tablet {
    display: flex;
    width: 400px;
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.75rem;
  }

  &__input {
    border: none;
    font-size: 0.85rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.searchBarMobile {
  align-items: center;
  background: white;
  border-radius: 20px;
  color: gray;
  display: flex;
  height: 2.25rem;
  padding: 1.3rem 0;
  padding-left: 1rem;
  margin: 0.5rem auto 3rem;
  width: 90%;

  @include tablet {
    display: none;
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.75rem;
  }

  &__input {
    border: none;
    font-size: 0.85rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
