.search {
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  padding-top: 4rem;
  min-height: 100vh;

  &__body {
    padding: 1.5rem 0;
  }

  &__tracks {
    display: grid;
    row-gap: 2rem;
    margin-bottom: 2rem;

    @media (min-width: 1000px) {
      display: flex;
      margin-bottom: 3rem;
    }
  }

  &__tracklist {
    flex: 3;

    &__title {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      color: white;
      margin-bottom: 1rem;

      @media (min-width: 1000px) {
        margin-left: 0;
      }
    }
  }

  &__topResult {
    margin-left: 1.5rem;

    @media (min-width: 800px) {
      min-width: 200px;
      max-width: 500px;
      margin-right: 2rem;
      width: 100%;
      flex: 1;
      overflow: hidden;
    }

    &__title {
      font-size: 1.5rem;
      color: white;
    }
  }
}

.searchBar {
  display: flex;
  height: 2.25rem;
  align-items: center;
  background: white;
  color: gray;
  width: 350px;
  border-radius: 20px;
  padding: 1.3rem 0;
  padding-left: 1rem;

  &__icon {
    margin-right: 0.75rem;
    font-size: 1.25rem;
  }

  &__input {
    border: none;
    font-size: 0.85rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
