@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.player {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: 0.25s all ease;
  flex: 1;
  max-width: 40vw;
  overflow: hidden;

  @include tablet {
    max-width: calc(100vw - 400px);
    justify-content: flex-start;
  }

  &__button {
    background: #1db954;
    min-height: 35px;
    min-width: 35px;
    font-size: 0.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 2rem;

    @include tablet {
      margin-right: 1rem;
      font-size: 1rem;
      min-height: 40px;
      min-width: 40px;
    }

    &:hover {
      background: lightgreen;
      cursor: pointer;
    }
  }
  &__title {
    font-size: 1rem;
    font-weight: 700;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    display: none;

    @include tablet {
      display: block;
    }

    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.display {
  opacity: 1;
}
