.album {
  color: white;
  padding-bottom: 2.5rem;

  .body {
    background: rgba($color: #000000, $alpha: 0.2);
  }

  &__copyright {
    margin-top: 1.5rem;
    padding-left: 1rem;
    color: #aaa;
    font-size: 0.75rem;
  }

  .otherAlbums {
    margin-top: 4rem;
  }
}
