.album {
  color: white;

  &__body {
    background: rgba(0, 0, 0, 0.1);
  }

  &__copyright {
    margin-top: 1.5rem;
    padding-left: 1rem;
    color: #aaa;
    font-size: 0.75rem;
  }

  &__otherAlbums {
    margin-top: 4rem;
  }
}
