.genres {
  gap: 1rem;
  color: white;
  padding: 0 1rem 3rem;
  margin: 1rem 0 3rem;
  font-family: "Proxima Nova", sans-serif;

  h2 {
    font-size: 1.4rem;
  }

  &__cards {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
  }
}
