@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.card {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 0.5rem;
  padding-bottom: 25%;
  position: relative;
  transition: 0.25s all ease;

  @include tablet {
    align-items: baseline;
    justify-content: baseline;
    padding: 1.25rem;
    padding-bottom: 95%;
    white-space: normal;
  }

  &:hover {
    filter: brightness(110%);
  }

  .title {
    max-width: 75%;
    position: relative;

    @include tablet {
      max-width: none;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      overflow-wrap: break-word;

      @include tablet {
        font-size: 1.4rem;
        margin-right: 0;
        position: absolute;
      }
    }
  }

  .image {
    align-self: flex-end;
    bottom: 0;
    position: absolute;
    height: 70px;
    right: 0;
    transform: rotate(25deg) translate(33%, -2%);
    width: 70px;

    @include tablet {
      display: block;
      height: auto;
      right: auto;
      width: auto;
    }
  }
}
