@mixin tablet {
  @media (min-width: 45em) {
    @content;
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s all ease;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  white-space: pre;

  @include tablet {
    padding: 1.25rem;
    padding-bottom: 95%;
    align-items: baseline;
    justify-content: baseline;
    white-space: normal;
  }

  &:hover {
    filter: brightness(110%);
  }

  &__image {
    align-self: flex-end;
    transform: rotate(25deg) translate(33%, -2%);
    bottom: 0;
    position: absolute;

    display: none;

    @include tablet {
      display: block;
    }
  }

  &__title {
    position: relative;

    h3 {
      font-size: 0.95rem;
      font-weight: 700;
      overflow-wrap: break-word;

      @include tablet {
        position: absolute;
        font-size: 1.4rem;
      }
    }

    .ellipsis {
      overflow: hidden;
      max-width: 10ch;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: red;
    }
  }
}
