.genres {
  color: white;
  font-family: "Proxima Nova", sans-serif;
  gap: 1rem;
  margin: 1rem 0 3rem;
  padding: 0 1rem 3rem;

  h2 {
    font-size: 1.4rem;
  }

  .cards {
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 1.5rem;

    @media (min-width: 700px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
}
