.banner {
  min-height: 275px;
  padding: 1rem 1rem 1.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: flex-end;
  padding-top: 5rem;

  @media (min-width: 1000px) {
    padding-left: 2.5rem;
  }

  &__title {
    h1 {
      font-weight: 900;
      padding-right: 2rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 1rem;
      line-height: 110%;

      @media (min-width: 1000px) {
        -webkit-line-clamp: 2;
        align-self: center;
      }
    }
  }
}
