html,
body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  box-sizing: border-box;

  /* width */
  ::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// fonts

// Gilroy
@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Bold"),
    url("https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff") format("woff");
}

//Proxima Nova
@font-face {
  font-family: "Proxima Nova";
  font-style: italic;
  font-weight: 400;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular Italic.woff")
      format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold Italic.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold Italic.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold Italic.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black Italic.woff")
      format("woff");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova"),
    url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black.woff")
      format("woff");
}
